### Importando blibliotecas

In [1]:
import pandas as pd

### Criar DataFrames com base nos Datasets

In [2]:
# Carreagar DataFrame de Clientes (customers)
df_customers = pd.read_csv('./datasets/churn_customers.csv')

In [6]:
df_services = pd.read_csv('./datasets/churn_services.csv')

In [7]:
df_contracts = pd.read_csv('./datasets/churn_contracts.csv')

### Mostrando registros dos DataFrames

In [3]:
# Mostrar 5 primeiros registros do DataFrame
df_customers.head(5)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [4]:
# Mostrar 5 últimos registros
df_customers.tail(5)

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

### Exibindo Estrutura dos DataFrames

In [13]:
# Ver estrutura do DataFrame
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IDcliente      7043 non-null   object
 1   Genero         7043 non-null   object
 2   MaisDe65anos   7043 non-null   int64
 3   TemParceiro    7043 non-null   object
 4   TemDependente  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [20]:
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDcliente         7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [22]:
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDcliente         7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

### Transformação de dados

In [10]:
df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges, errors='coerce')

### Renomeando Colunas no DataFrame

In [12]:
df_customers.columns = ['IDcliente','Genero','MaisDe65anos','TemParceiro','TemDependente']

### Unificando (juntando em uma só) Datasets

In [16]:
# verificando quantidade de dados em cada DataFrame para fazer a junção
len(df_customers)

7043

In [17]:
len(df_contracts)

7043

In [18]:
len(df_services)

7043

In [19]:
# Renomear colunas para que as iguais tenham o mesmo nome para não duplicar quando fazer o merge
df_services.rename(columns={'customerID':'IDcliente'}, inplace=True)

In [21]:
df_contracts.rename(columns={'customerID':'IDcliente'}, inplace=True)

In [24]:
# Unificar dois DataFrames em um dataframe temporário
df_temp = df_customers.merge(df_services, on=['IDcliente'])

In [25]:
# mostrand dataframe temporário
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDcliente         7043 non-null   object
 1   Genero            7043 non-null   object
 2   MaisDe65anos      7043 non-null   int64
 3   TemParceiro       7043 non-null   object
 4   TemDependente     7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
dtypes: int64(1), object(13)
memory usage: 770.5+ KB

In [26]:
# Juntando o terceiro DataFrame
df_churn = df_temp.merge(df_contracts, on=['IDcliente'])

In [27]:
# Mostrando os três DataFrames unidos
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDcliente         7043 non-null   object
 1   Genero            7043 non-null   object
 2   MaisDe65anos      7043 non-null   int64
 3   TemParceiro       7043 non-null   object
 4   TemDependente     7043 non-null   object
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  tenure            7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB